@font-face {
    font-family: 'Norse';
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Norse';
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
}

#sidebar {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url('background.jpg');
    background-size: cover;
    height: 100vh;
    width: 35%;
}

.transbox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 15vh;
    margin-top: 28.33vh;
}

.transbox p{
    color: limegreen;
    font-size: 75px;
    letter-spacing: 20px;
}

#content {
    background-color: #202020;
    height: 100vh;
    width: 65%;
}

.message {
    height: 28.33vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 50px;
    color: limegreen;
}

.signup-form {
    height: 48.33vh;
    background-color: #181818;
    color: limegreen;
}

.signup-form p {
    color: cyan;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    height: 10%;
    font-family: 'Courier New', Courier, monospace;
}

.signup-form form {
    height: 90%;
    font-size: 25px;
}

.signup-form fieldset {
    height: 33.33%;
    border: none;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}

.signup-form input {
    height: 3vh;
    width: 30vh;
    border: none;
    border-radius: 5px;
    font-size: 0.75em;
    background-color: bisque;
    margin-top: 10px;
}.signup-form input:focus {
    outline: none;
    border: 2px solid green;
}

.signup-form .input {
    display: flex;
    flex-direction: column;
}

.signup-form label {
    letter-spacing: 2px;
}

.signup-form, input, label {
    font-family: 'Courier New', Courier, monospace;
}

.info-submit {
    height: 23.33vh;
    color: limegreen;
    text-align: center;
}

.info-submit button {
    color: white;
    background-color: limegreen;
    border: none;
    box-shadow: 10px 5px 5px cyan;
    padding: 15px 20px 15px;
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 2px;
}.info-submit button:hover{
    cursor: pointer;
    color: cyan;
    box-shadow: 10px 5px 5px black;
}

.info-submit p {
    font-size: 17.5px;
    margin-top: 15px;
}